
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f7f9ff;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: transparent;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #e94e1b;
}

.logo img {
  height: 60px;
  margin-right: 10px;
}

nav a {
  margin-left: 48px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav .active {
  font-weight: bold;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 150px;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text .highlight {
  color: #f05a28;
  font-weight: bold;
}

.hero-text p {
  font-size: 16px;
  color: #555;
}

.hero-img img {
  width: 400px;
  border-radius: 10px;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  nav {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

  .hero {
    flex-direction: column-reverse;
    padding: 30px 20px;
    text-align: center;
  }

  .hero-text, .hero-img {
    max-width: 100%;
  }

  .hero-img img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .hero-text h1 {
    font-size: 32px;
  }

  .hero-text p {
    font-size: 14px;
  }
}

